[Unit]
Description=Export wireguard status to etcd

[Service]
Type=simple
ExecStart=/srv/venv/bin/ffbs-etcd-wireguard-export
Restart=always
RestartSec=10
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
