{% set ifname = wg_exit_ifname %}
auto {{ ifname }}
iface {{ ifname }} inet static
	address {{ wg_exit_address_v4 }}
	up ip -4 r replace default via {{ wg_exit_gateway_v4 }} vrf freifunk proto freifunk
	up ip -6 a add {{ wg_exit_address_v6 }} dev {{ ifname }}
	up ip -6 r replace default via {{ wg_exit_gateway_v6 }} vrf freifunk proto freifunk
	down ip -6 a del {{ wg_exit_address_v6 }} dev {{ ifname }}
	down ip -6 r del default via {{ wg_exit_gateway_v6 }} vrf freifunk proto freifunk
	pre-up iptables -t nat -A POSTROUTING -o wg-azire -j SNAT --to {{ wg_exit_address_v4.split('/')[0] }}
	pre-up ip link add {{ ifname }} type wireguard
	pre-up wg setconf {{ ifname }} /etc/wireguard/{{ ifname }}.conf
	pre-up ip link set {{ ifname }} vrf freifunk
	post-down ip link del {{ ifname }}
	post-down iptables -t nat -D POSTROUTING -o wg-azire -j SNAT --to {{ wg_exit_address_v4.split('/')[0] }}
