{% set peer = hostvars[item] %}
{% set ifname = peer.wg_peer_ifname %}
auto {{ ifname }}
iface {{ ifname }} inet static
	mtu {{ wg_mtu }}
	address {{ wg_node_address_v4 }}
	pointopoint {{ peer.wg_gateway_v4 }}
	pre-up ip link add {{ ifname }} type wireguard
	pre-up ip link set {{ ifname }} vrf freifunk
	pre-up wg setconf {{ ifname }} /etc/wireguard/{{ ifname }}.conf
	post-down ip link del {{ ifname }}
