[Unit]
Description=Serve client configurations from etcd via HTTP (Go implementation)

[Service]
Type=simple
ExecStart=/usr/local/bin/etcdconfigweb
Restart=always
RestartSec=10
StartLimitInterval=0
Environment="PARKER_V4_RANGE=10.0.0.0/16"
Environment="PARKER_V6_RANGE={{ global_ipv6_range_without_prefix }}::/{{ global_ipv6_range_prefix }}"

[Install]
WantedBy=multi-user.target
