{% set ifname = "wg-nodes" %}
[Match]
Name={{ ifname }}

[Network]
DHCP=no
IPv6AcceptRA=no
# we do not use VRF in ffmuc
{% if 'wg_gateway_v4' in vars %}
Address={{ wg_gateway_v4 }}/32
{% else %}
# no wg_gateway_v4
{% endif %}
{% if 'wg_gateway_v6' in vars %}
Address={{ wg_gateway_v6 }}/128
{% else %}
# no wg_gateway_v6
{% endif %}

[Route]
# this route is required to route IPv6 traffic from a range that is not bound to any public interface
Destination={{ global_ipv6_range_without_prefix }}::/{{ global_ipv6_range_prefix }}

[Link]
MTUBytes={{ wg_mtu }}
