[defaults]
roles_path = galaxy
# vault_password_file=vault.sh
vault_password_file = .vault
inventory=hosts

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
