# {{ ansible_managed }}
location /osm/ {
	proxy_http_version 1.1;

	proxy_pass http://osm/;
	#proxy_pass_request_headers off;
	proxy_pass_request_body off;

	proxy_cache osm-cache;
	proxy_cache_valid 200 302 30d;
	proxy_cache_valid 404 1m;
	proxy_cache_lock on;
	proxy_cache_lock_age 60s;
	proxy_cache_lock_timeout 60s;

	proxy_ignore_headers Set-Cookie;

	proxy_hide_header Strict-Transport-Security;
	proxy_hide_header Expect-CT;
	proxy_hide_header Set-Cookie;

	proxy_set_header Accept "";
	proxy_set_header Accept-Encoding "";
	proxy_set_header Accept-Language "";
	proxy_set_header DNT "";

	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	#proxy_set_header X_FORWARDED_PROTO http;
	proxy_set_header Host 'tile.openstreetmap.org';
}
