[Unit]
Description=Regenerate Statistics for Website

[Service]
Type=oneshot
ExecStart=/var/www/website-extras/cron.sh
User=www-data

[Install]
WantedBy=multi-user.target
