# {{ ansible_managed }}

deb {{ apt_mirror }} {{ apt_default_release }} main
deb {{ apt_mirror }} {{ apt_default_release }}-updates main
deb {{ apt_mirror }} {{ apt_default_release }}-backports main

{% if apt_default_release in ['bullseye', 'bookworm'] %}
deb http://security.debian.org/ {{ apt_default_release }}-security main
{% else %}
deb http://security.debian.org/ {{ apt_default_release }}/updates main
{% endif %}

deb {{ apt_mirror }} testing main
deb {{ apt_mirror }} unstable main
