*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
{% if wg_exit_address_v6 is defined %}
-A POSTROUTING -o wg-azire -j SNAT --to-source {{ wg_exit_address_v6.split('/')[0] }}
{% endif %}
{% if ffrl_local is defined %}
-A POSTROUTING -o ffrl-+ -j SNAT --to-source {{ ffrl_local.v6 }}
{% endif %}
COMMIT
