; {{ ansible_managed }}
;
; rpz
;
$TTL	900
@	IN	SOA	localhost. ffbs-admin.stratum0.org. (
			2022111201	; Serial
			1h		; Refresh
			30m		; Retry
			1w		; Expire
			30m)		; Negative Cache TTL
	IN	NS	localhost.
;
localhost		IN A	127.0.0.1
;
frido.stratum0.org	IN A	172.16.3.1
frido.stratum0.org	IN AAAA	{{ global_ipv6_range_without_prefix }}::3:1
