no-resolv
no-hosts

interface=br0
server=172.16.1.101@freifunk
dhcp-range={{ wg_node_range_v4 | ipaddr(2) | ipaddr('address') }},{{ wg_node_range_v4 | ipaddr(-1) | ipaddr('address') }},{{ wg_node_range_v4 | ipaddr('netmask') }},15m
dhcp-range=::,constructor:eth0,ra-stateless,15m
#dhcp-authoritative
dhcp-lease-max=10240

log-queries
log-dhcp
