; {{ ansible_managed }}
$TTL    7200
@       IN      SOA     dns.any.ffbs. ffbs-admin.stratum0.org. (
                              3         ; Serial
                          86400         ; Refresh
                           7200         ; Retry
                        2419200         ; Expire
                          86400 )       ; Negative Cache TTL
;
@	IN	NS	dns.any.ffbs.
1.0.0   IN      PTR     c1.vpn.ffbs.
2.0.0   IN      PTR     c2.vpn.ffbs.
3.0.0   IN      PTR     c3.vpn.ffbs.
4.0.0   IN      PTR     c4.vpn.ffbs.
