; {{ ansible_managed }}
$TTL    7200
@       IN      SOA     dns.any.ffbs. ffbs-admin.stratum0.org. (
                              3         ; Serial
                          86400         ; Refresh
                           7200         ; Retry
                        2419200         ; Expire
                          86400 )       ; Negative Cache TTL
;
@	IN	NS	dns.any.ffbs.
53.0    IN      PTR     dns.any.ffbs.
80.0    IN      PTR     firmware.any.ffbs.
123.0   IN      PTR     ntp.any.ffbs.
1.1     IN      PTR     c1.core.ffbs.
2.1     IN      PTR     c2.core.ffbs.
3.1     IN      PTR     c3.core.ffbs.
4.1     IN      PTR     c4.core.ffbs.
1.2     IN      PTR     e1.core.ffbs.
2.2     IN      PTR     e2.core.ffbs.
3.2     IN      PTR     e3.core.ffbs.
