; {{ ansible_managed }}
;
; 2001:bf7:380::/44
;
$TTL    7200
@       IN      SOA     dns.any.ffbs. ffbs-admin.stratum0.org. (
                              2         ; Serial
                          86400         ; Refresh
                           7200         ; Retry
                        2419200         ; Expire
                          86400 )       ; Negative Cache TTL
;
@	IN	NS	dns.any.ffbs.

1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.1.8.3.0.7.f.b.0.1.0.0.2.ip6.arpa.    IN    PTR    c1.vpn.ffbs.
2.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.1.8.3.0.7.f.b.0.1.0.0.2.ip6.arpa.    IN    PTR    c2.vpn.ffbs.
3.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.1.8.3.0.7.f.b.0.1.0.0.2.ip6.arpa.    IN    PTR    c3.vpn.ffbs.
1.0.0.0.1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.1.8.3.0.7.f.b.0.1.0.0.2.ip6.arpa.    IN    PTR    c1.core.ffbs.
2.0.0.0.1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.1.8.3.0.7.f.b.0.1.0.0.2.ip6.arpa.    IN    PTR    c2.core.ffbs.
3.0.0.0.1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.1.8.3.0.7.f.b.0.1.0.0.2.ip6.arpa.    IN    PTR    c3.core.ffbs.
1.0.0.0.2.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.1.8.3.0.7.f.b.0.1.0.0.2.ip6.arpa.    IN    PTR    e1.core.ffbs.
2.0.0.0.2.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.1.8.3.0.7.f.b.0.1.0.0.2.ip6.arpa.    IN    PTR    e2.core.ffbs.
3.0.0.0.2.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.1.8.3.0.7.f.b.0.1.0.0.2.ip6.arpa.    IN    PTR    e3.core.ffbs.
3.5.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.2.8.3.0.7.f.b.0.1.0.0.2.ip6.arpa.    IN    PTR    dns.any.ffbs.
3.2.1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.2.8.3.0.7.f.b.0.1.0.0.2.ip6.arpa.    IN    PTR    ntp.any.ffbs.
