# {{ ansible_managed }}
[server]
http_addr = {{ grafana_addr }}
http_port = {{ grafana_port }}
domain = localhost
root_url = %(protocol)s://%(domain)s/grafana/

[analytics]
reporting_enabled = false
check_for_updates = true

[auth.anonymous]
enabled = true

[log]
mode = console file

[log.console]
level = Warn

[security]
allow_embedding = true
