[Match]
Name=freifunk

[Network]
DHCP=no
IPv6AcceptRA=no
{% if 'wg_backbone_v4' in vars %}
Address={{ wg_backbone_v4 }}/32
{% else %}
# not connected to v4 backbone
{% endif %}
{% if 'wg_backbone_v6' in vars %}
Address={{ wg_backbone_v6 }}/128
{% else %}
# not connected to v6 backbone
{% endif %}
{% if ffrl_local is defined %}
Address={{ ffrl_local.v4 }}/32
Address={{ ffrl_local.v6 }}/128
{% else %}
# not connected to ffrl exit
{% endif %}

[Route]
Destination=0.0.0.0/0
Type=unreachable
Metric=8192
Table=10

[Route]
Destination=::/0
Type=unreachable
Metric=8192
Table=10

[Route]
Destination=172.16.0.0/12

[Route]
Destination=10.0.0.0/8

[Route]
Destination=2001:bf7:380::/44
