# {{ ansible_managed }}

location = / {
        if ($host = "web.ffbs") {
                return 303 $scheme://$host/firmware/;
        }
        if ($host = "map.ffbs") {
                return 303 $scheme://$host/map/;
        }
        alias /var/www/website/master/htdocs/;
}

location / {
        alias /var/www/website/master/htdocs/;
}

location = /nodecount {
        root /var/www/website-extras/pub/;
}
location = /clientcount {
        root /var/www/website-extras/pub/;
}
location = /api.json {
        root /var/www/website-extras/pub/;
}

location = /s0_finanz.json {
        set $data_host data.stratum0.org;
        proxy_pass https://$data_host/finanz/full.json;
        resolver 192.168.122.2;
}

