# {{ ansible_managed }}
server {
        server_name testbed.freifunk-bs.de;

        listen 80;
        listen [::]:80;

        location ^~ /.well-known/acme-challenge {
                alias /var/lib/dehydrated/acme-challenges;
        }
        include /etc/nginx/site-testbed.d/*.conf;
}

