{% set peer = hostvars[item] %}
{% set ifname = peer.wg_peer_ifname %}
auto {{ ifname }}
iface {{ ifname }} inet static
	mtu {{ wg_mtu }}
	address {{ wg_backbone_v4 }}
	pointopoint {{ peer.wg_backbone_v4 }}
	pre-up ip link add {{ ifname }} type wireguard
	pre-up ip link set {{ ifname }} vrf freifunk
	pre-up wg setconf {{ ifname }} /etc/wireguard/{{ ifname }}.conf
	# this needs to be in post-up, as otherwise the route to the peer is missing from the vrf
	post-up ip addr add {{ wg_backbone_v6_ll }} peer {{ peer.wg_backbone_v6_ll }} nodad dev {{ ifname }}
	post-down ip link del {{ ifname }}
