[Unit]
Description=Configure wireguard peers for nodes

[Service]
Type=simple
Environment="PYTHONUNBUFFERED=1"
ExecStart=/srv/venv/bin/ffbs-concentrator-config
Restart=always
RestartSec=10
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
