[Unit]
Description=Configure routing for connected nodes

[Service]
Type=simple
Environment="PYTHONUNBUFFERED=1"
ExecStart=/srv/venv/bin/ffbs-concentrator-route
Restart=always
RestartSec=10
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
