[Unit]
Description=Configure wireguard peers for nodes (Go implementation)

[Service]
Type=simple
ExecStart=/usr/local/bin/concentratorconfig
Restart=always
RestartSec=10
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
