[Unit]
Description=Serve client configurations from etcd via HTTP (Go implementation)

[Service]
Type=simple
ExecStart=/usr/local/bin/etcdconfigweb
Restart=always
RestartSec=10
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
