# managed by Ansible
location / {
  alias /var/www/firmware/;
  index index.html;
  fancyindex on;
  fancyindex_name_length 255;
  #fancyindex_localtime on;
}

location = / {
  return 303 https://firmware.freifunk-bs.de/selector/;
}

location /selector/ {
  alias /var/www/firmware-selector/;
  index index.html;
}


location /.git {
  deny all;
  return 404;
}

