# managed by Ansible
location / {
	alias /var/www/firmware/;
	index index.html;
	fancyindex on;
	fancyindex_name_length 255;
	#fancyindex_localtime on;
}

location /raw {
	alias /var/www/firmware;
	index none;
	fancyindex on;
	fancyindex_name_length 255;
	#fancyindex_localtime on;
}

location /.git {
	deny all;
	return 404;
}

location /raw/.git {
	deny all;
	return 404;
}
