- name: Configure routing protocol name
  lineinfile:
    dest: "/etc/iproute2/rt_protos"
    line: "23\tfreifunk"
- name: Configure routing table name
  lineinfile:
    dest: "/etc/iproute2/rt_tables"
    line: "10\tfreifunk"
- name: Configure sysctl for vrf
  sysctl:
    name:  "{{ item.name }}"
    value: "{{ item.value }}"
    sysctl_set: yes
    sysctl_file: "/etc/sysctl.d/20-vrf.conf"
  with_items:
    #  keep IPv6 global addresses as VRF enslavement changes
    - { name: 'net.ipv6.conf.all.keep_addr_on_down', value: '1' }
    # we want etcd and ssh to be accessible from all VRFs
    - { name: 'net.ipv4.tcp_l3mdev_accept', value: '1' }
    # we want dhcp and dns to be accessible from all VRFs
    - { name: 'net.ipv4.udp_l3mdev_accept', value: '1' }
# Replaced by networkd
- name: Add networkd vrf network
  template:
    src: "interface.j2"
    dest: "/etc/systemd/network/10-vrf-freifunk.network"
    owner: "root"
    group: "root"
    mode: 0644
  notify:
    - Restart systemd-networkd
- name: Add networkd vrf netdev
  copy:
    src: "10-vrf-freifunk.netdev"
    dest: "/etc/systemd/network/10-vrf-freifunk.netdev"
    owner: "root"
    group: "systemd-network"
    mode: 0640  # permission required systemd-networkd
  notify:
    - Restart systemd-networkd
- name: Add VRF-specific resolv.conf
  copy:
    src: 'resolv.conf.freifunk'
    dest: '/etc/resolv.conf.freifunk'
    mode: 0644
- name: Add enter-freifunk helper script
  copy:
    src: 'enter-freifunk'
    dest: '/root/enter-freifunk'
    mode: 0755
