[Unit]
Description=Collect information from nodes and push to yanic

[Service]
Type=simple
ExecStart=/srv/venv/bin/polld
Restart=always
RestartSec=60
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
