[Unit]
Description=Collect information from nodes and push to yanic

[Service]
Type=simple
Environment="PYTHONUNBUFFERED=1"
ExecStart=/srv/venv/bin/ffbs-polld
Restart=always
RestartSec=60
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
