# {{ ansible_managed }}
acl freifunk {
	10.0.0.0/8;
	172.16.0.0/16;
	{{ global_ipv6_range_without_prefix }}::/{{ global_ipv6_range_prefix }};
	localhost;
};

options {
	directory "/var/cache/bind";

	//========================================================================
	// If BIND logs error messages about the root key being expired,
	// you will need to update your keys.  See https://www.isc.org/bind-keys
	//========================================================================
	dnssec-validation auto;

	auth-nxdomain no;    # conform to RFC1035
	listen-on-v6 { any; };

	recursion yes;
	minimal-responses no-auth-recursive; # avoid large authority sections for recursive clients
	max-cache-size 128M; # default is unlimited
	allow-query { freifunk; };
{% if dns_forwarders %}
	forward first;
	forwarders {
{% for forwarder in dns_forwarders %}
		{{ forwarder }};
{% endfor %}
	};
{% endif %}

	allow-transfer { none; };
};

statistics-channels {
	# allow http://172.16.x.y:8053/ for statistics access
	# (localhost is difficult because of the vrf)
	inet * port 8053 allow { 172.16.0.0/16; };
};
