auto br0
iface br0 inet static
	address {{ wg_node_range_v4 | ipaddr(1) }}
	pre-up ip link add dev br0 type bridge
	pre-up ip link set br0 vrf freifunk
	pre-up ip link set eth2 master br0
	post-down ip link del br0

iface br0 inet6 static
	address {{ wg_node_range_v6 | ipaddr(1) }}
