[Unit]
Description=Configure wireguard interface for all concentrators

[Service]
Type=simple
ExecStart=/srv/venv/bin/ffbs-node-config
Restart=always
RestartSec=10
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
