[Unit]
Description=Configure routing for connected concentrators

[Service]
Type=simple
ExecStart=/srv/venv/bin/ffbs-node-route
Restart=always

[Install]
WantedBy=multi-user.target
